.margin-top-20{
	margin-top: 20px
}

.method{
	font-size: 20px;
}
.iconeWrap .iconeBtnGroup {
	max-width: 800px;
	margin: auto;
}

.iconeWrap .iconeBtnGroup .iconMethod {
	box-shadow: none;
	position: relative;
}

.iconeWrap .iconeBtnGroup .iconMethod.active {
	outline: none !important;
}

.iconeWrap .iconeBtnGroup .iconMethod.active .method {
	border-color: #7114857a;
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.iconeWrap .iconeBtnGroup .iconMethod .method {
	position: absolute;
	top: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;
}


.iconeWrap .iconeBtnGroup .iconMethod .method:hover {
	border-color: #7114857a;
	outline: none !important;
